<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Wes Lawler</a>
     </div>

     <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-right">
          <li><a href="#home"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="#about"><i class="fa fa-info-circle"></i> About </a></li>
          <li><a href="#portfolio"><i class="fa fa-folder"></i>Portfolio</a></li>
          <li><a href="#contact"><i class="fa fa-at"></i>Contact</a></li>

       </ul>
     </div>
  </div>
</nav>
