<nav class="navbar navbar-default" id="changlang">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wes Lawler</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#"> Home</a></li>
      <li><a href="#"> About</a></li>
      <li><a href="#">Portfolio</a></li>
    </ul>
    <button type="button" class="btn btn-primary">language</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">english</a></li>
      <li><a href="#">spanish</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-default" id="changlang2" style="display:none">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">nombre</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">casa</a></li>
      <li><a href="#">sobre</a></li>
      <li><a href="#">cartera</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">buton</button>
  </div>
</nav>

<form>
  <input type="radio" name="language" value="espanol" onclick="document.getElementById('changlang').style.display='none';document.getElementById('changlang2').style.display='block'">espanol<br>
  <input type="radio" name="language" value="english" onclick="document.getElementById('changlang').style.display='block';document.getElementById('changlang2').style.display='none'">english<br>
  </form>