<!--
<nav class="navbar navbar-default" id="changlang">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#"> Home</a></li>
      <li><a href="#"> About</a></li>
      <li><a href="#">Portfolio</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Button</button>
  </div>
</nav>

<nav class="navbar navbar-default" id="changlang2" style="display:none">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">nombre</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">casa</a></li>
      <li><a href="#">sobre</a></li>
      <li><a href="#">cartera</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">buton</button>
  </div>
</nav>

<form>
  <input type="radio" name="language" value="espanol" onclick="document.getElementById('changlang').style.display='none';document.getElementById('changlang2').style.display='block'">espanol<br>
  <input type="radio" name="language" value="english" onclick="document.getElementById('changlang').style.display='block';document.getElementById('changlang2').style.display='none'">english<br>
  </form> 
-->
<script>
  window.alert(my portfolio page);
</script>
<app-navbar></app-navbar>

<p>My name is Wes Lawler and I'd love to help you reach your audience through youtube and web development</p>
<app-contactme></app-contactme>
