

.jumbotron {
    background:
   url(" https://i.imgur.com/Xy2S7zW.jpg") no-repeat center center fixed;
   background-size: cover;
}


#title {
    text-align: center;
    font-family: 'indie flower', cursive;
    color:white;
    font-weight: 300
    ;
} 