
<nav class="navbar navbar-default" id="changlang">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">WebSiteName</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="#"> Home</a></li>
    <li><a href="#"> About</a></li>
    <li><a href="#">Portfolio</a></li>
  </ul>
  <button type="button" class="btn btn-primary">language</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <input type="radio" name="language" value="espanol" onclick="document.getElementById('changlang').style.display='none';document.getElementById('changlang2').style.display='block'">espanol<br>
    </ul>
</div>
</nav>

<nav class="navbar navbar-default" id="changlang2" style="display:none">
<div class="container-fluid">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Open+Sans+Condensed:300|Quicksand|Tajawal" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

  </head>
  <div class="navbar-header">
    <a class="navbar-brand" href="#">nombre</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="#">casa</a></li>
    <li><a href="#">sobre</a></li>
    <li><a href="#">cartera</a></li>
  </ul>
  <button class="btn btn-danger navbar-btn">button</button>
</div>
</nav>

<form>
<input type="radio" name="language" value="espanol" onclick="document.getElementById('changlang').style.display='none';document.getElementById('changlang2').style.display='block'">espanol<br>
<input type="radio" name="language" value="english" onclick="document.getElementById('changlang').style.display='block';document.getElementById('changlang2').style.display='none'">english<br>
</form> 
<!--<script>
window.alert(my portfolio page);
</script> -->
<!--<app-navbar></app-navbar>-->

<div class="jumbotron">
<h1 id="title">My name is Wes Lawler</h1>
<hr>
<h3 id="title">  I'd love to help you reach your audience through youtube and web development</h3>
</div>
<div class="container">
  <h2 id="title">My Portfolio </h2>

<app-piclink></app-piclink>
<app-piclink></app-piclink>
<app-piclink></app-piclink>
<app-contactme></app-contactme> 
</div>