<div class="portfolio" id="portfolio">
  <div class="container">
    <p class="larger-font">Portfolio</p>
    <div class="row">
      <a href="https://codepen.io/sjmercier/full/JXbxmZ/" target="_blank">
        <div class="col-md-4 well smaller-font">
          <img src="https://res.cloudinary.com/dbnugenbb/image/upload/v1458931870/Coming-Soon2_brdvim.png" class="img-responsive"/>
        <p>Coming Soon</p>
        </div>
      </a>
     <a href="http://ludumdare.com/compo/ludum-dare-32/?action=preview&uid=4215" target="_blank">
        <div class="col-md-4 well smaller-font">
          <img src="https://res.cloudinary.com/dbnugenbb/image/upload/v1458931870/Coming-Soon2_brdvim.png" class="img-responsive"/>
          <p>Coming Soon</p>
        </div>
    <div class="col-md-4 well smaller-font">
       <img src="https://res.cloudinary.com/dbnugenbb/image/upload/v1458931870/Coming-Soon2_brdvim.png" class="img-responsive"/>
    <p>Coming Soon</p>
    </div>
  </a>
</div>

<!-- I coded-->