.circle-image1{
    width: 300px;
    border-width:10px;
    border-color:white;
    border-style:solid;
    border-radius: 55%;

}

.mybio{
    font-family: 'Kalam',cursive;
    font-size: 20px;
    font-style: bold;
    line-height: 200%;
}