<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
   </script>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Caveat|Courgette|Kalam|Yellowtail" rel="stylesheet">
</head>
<div class="row">
  <div class="col-sm-4 myimage">
<img src="https://i.imgur.com/tJGEDsm.jpg" class="circle-image1" >
</div>
<div class="col-sm-8">
<p class="mybio">
My name is Wes Lawler and I'm well versed in this world where nothing goes as expected.<br>
I graduated from college, business school, and law school only to find myself working<br>
as a dishwasher at a BBQ restaurant. I would go on to teach myself how to code as a <br>
means of finding ways to help others. Life may not always be just, right, or fair, <br>
but that does not mean we don't have a choice of how we deal with it. Please, contact<br>
me about helping you make a change.  

</p>
  </div>
  </div>



 